/* 
    Document   : base
    Created on : Jun 22, 2011, 10:58:00 PM
    Author     : Rohit
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
    display: block;
}

body{
    background-color: #AA8811;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.19, #66FFFF),
        color-stop(1, #22AAAA)
        );
    background-image: -moz-linear-gradient(
        center bottom,
        #66FFFF 19%,
        #22AAAA 100%
        );
}

.container{
    background-color: #CDEB8B;
}
